<!-- Global container -->
<div class="flex justify-center items-center h-screen bg-Cream">

  <!-- Content -->
  <div class="flex flex-col md:w-[550px] p-5 md:flex-row">

    <!-- Image div -->
    <div class="md:w-1/2">
      <!-- Desktop image -->
      <img class="hidden md:inline rounded-l-lg object-cover" src="assets/images/image-product-desktop.jpg" alt="desktop product image">
      <!-- mobile image -->
      <img class="md:hidden rounded-t-lg" src="assets/images/image-product-mobile.jpg" alt="mobile product image">
    </div>

    <!-- Info, Price & Button div -->
    <div class="md:w-1/2 bg-White p-5 md:p-7 rounded-b-lg md:rounded-bl-none md:rounded-r-lg">

      <p class="font-Montserrat pb-2 text-xs text-Dark-grayish-blue tracking-[.25em]">PERFUME</p>

      <p class="font-Fraunces pb-3 text-3xl">Gabrielle Essence Eau De Parfum</p>

      <p class="font-Montserrat text-xs pb-4 text-Dark-grayish-blue">A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.</p>

      <div class="flex items-center pb-3 space-x-5">
        <h1 class="font-Fraunces text-3xl text-Dark-cyan">$149.99</h1>
        <p class="font-Montserrat text-Dark-grayish-blue text-xs line-through">$169.99</p>
      </div>

      <button class="flex w-full py-3 bg-Dark-cyan justify-center items-center text-White rounded-lg space-x-3">
        <img src="assets/images/icon-cart.svg" alt="cart icon">
        <span class="font-Fraunces">Add to Cart</span>
      </button>

    </div>
  </div>


</div>































<!--<p class="font-Montserrat font-medium">Hallo</p>-->
<!--<p class="font-Montserrat font-bold">Hallo</p>-->
<!--<p class="font-Fraunces font-medium">Hallo</p>-->
